<section class="job-area pb-50 grey-bg to" >
    <div class="container">
        <div class="job-box white-bg">
           

            <div class="row" >
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                    <h2>Capacitación | Para asegurar la máxima productividad de los sistemas es necesario contar con usuarios expertos.</h2>
                    <h2>Capacitación | Para asegurar la máxima productividad de los sistemas es necesario contar con usuarios expertos.</h2>

                    <div class="job-responsibilities">
                        <div class="row">
                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                                <!-- <div class="requirements-thumb req-padding mb-50 mt-30">
                                    <img src="assets/multisoft/img/job/03.png" alt="" style="    width: 60%;
                                    ">
                                </div> -->
                                <div class="job-videos pos-rel mb-50 mt-30 v" style="    width: 60%; ">
                                    <div class="job-videos-thumb">
                                        <img class="img-fluid" src="assets/multisoft/img/job/02.png" alt="" >
                                    </div>
                                    <button type="button" class="btn btn-primary"  href="https://www.youtube.com/watch?v=j7wZogQhmFE" class="popup-video">
                                        <i class="fas fa-play"></i>
                                    </button>
                                    <a href="https://www.youtube.com/watch?v=j7wZogQhmFE" class="popup-video"><i
                                            class="fas fa-play"></i></a>
                                </div>
                                
                            </div>

                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 list" style="padding-top: 25px;">
                                <h4 class="mb-20">Compras</h4>
                                <ul>
                                    <li><a href="https://www.youtube.com/embed/INp_D59Npyg" title=""> Alta de comprobantes y Fact. Pend Remitir de Compras </a> </li>
                                    <li>Alta de Comprobantes y Facturas Pend. de Remitir de Compras</li>
                                    <li><a href="https://www.youtube.com/embed/VH0wPNn7Nto"></a> Importación IVA ventas/compras desde archivos externo</li>
                                    <li><a href="https://www.youtube.com/embed/9meyaasN080" title="">Pedidos en linea - pedidos proveedores</a> </li>

                                    
                                </ul>
                            </div>
                        </div>   
                        
                        <!-- <div class="job-videos pos-rel mb-50 mt-30">
                            <div class="job-videos-thumb">
                                <img class="img-fluid" src="assets/multisoft/img/job/02.png" alt="">
                            </div>
                            <a href="https://www.youtube.com/watch?v=j7wZogQhmFE" class="popup-video"><i
                                    class="fas fa-play"></i></a>
                        </div> -->
                        <div class="row">
                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                               <div class="job-videos pos-rel mb-50 mt-30 v">
                                    <div class="job-videos-thumb">
                                        <img class="img-fluid" src="assets/multisoft/img/job/02.png" alt="" >
                                    </div>
                                    <a href="https://www.youtube.com/watch?v=j7wZogQhmFE" class="popup-video"><i
                                            class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 list">
                                <h4 class="mb-20">Sueldos</h4>
                                <ul>
                                    <li><a href="https://www.youtube.com/embed/RvevMj7iyqU"></a> Modulo Sueldos Parte I </li>
                                    <li><a href="https://www.youtube.com/embed/QVW3TTjkuKE"></a> Modulo Sueldos Parte II</li>
                                    
                                </ul>
                            </div>
                        </div>   
                        
                        <div class="row">
                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                               <div class="job-videos pos-rel mb-50 mt-30 v">
                                    <div class="job-videos-thumb">
                                        <img class="img-fluid" src="assets/multisoft/img/job/02.png" alt="" >
                                    </div>
                                    <a href="https://www.youtube.com/watch?v=j7wZogQhmFE" class="popup-video"><i
                                            class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 list">
                                <h4 class="mb-20">Facturación</h4>
                                <ul>
                                    <li><a href="https://www.youtube.com/embed/sEU5SfMysI4"></a> Definir Prefijos para Facturar I </li>
                                    <li><a href="https://www.youtube.com/embed/l2hCwVQdXdM"></a> Configuración de Prefijos para Facturar</li>
                                    <li><a href="https://www.youtube.com/embed/l2hCwVQdXdM"></a> Configuración de Prefijos para Facturar II</li>
                                    <li><a href="https://www.youtube.com/embed/hTx835MT9mg"></a> Configuración de Hora- Factura Electrónica</li>
                                    
                                </ul>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                               <div class="job-videos pos-rel mb-50 mt-30 v">
                                    <div class="job-videos-thumb">
                                        <img class="img-fluid" src="assets/multisoft/img/job/02.png" alt="" >
                                    </div>
                                    <a href="https://www.youtube.com/watch?v=j7wZogQhmFE" class="popup-video"><i
                                            class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 list">
                                <h4 class="mb-20">Inventario</h4>
                                <ul>
                                    <li><a href="https://www.youtube.com/embed/NsGnoM895lk"></a> Alta de grupos y marcas</li>
                                    <li><a href="https://www.youtube.com/embed/70XUMC7AzsE"></a> Alta de artículos y códigos especiales</li>
                                    <li><a href="https://www.youtube.com/embed/Cvjo3KhcpG8"></a> Ajuste de inventario I</li>
                                    <li><a href="https://www.youtube.com/embed/mIYVmzGwFdE"></a> Ajustes de stock II- Importar desde Excel</li>
                                    <li><a href="https://www.youtube.com/embed/9meyaasN080"></a> Pedidos en Linea - Pedidos Proveedores</li>
                                    <li><a href="https://www.youtube.com/embed/uI127pVRi7w"></a> Artículo con componentes</li>
                                    
                                </ul>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                               <div class="job-videos pos-rel mb-50 mt-30 v">
                                    <div class="job-videos-thumb">
                                        <img class="img-fluid" src="assets/multisoft/img/job/02.png" alt="" >
                                    </div>
                                    <a href="https://www.youtube.com/watch?v=j7wZogQhmFE" class="popup-video"><i
                                            class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 list">
                                <h4 class="mb-20">Contabilidad</h4>
                                <ul>
                                    <li><a href="https://www.youtube.com/embed/vFth1tggNXU"></a> Conciliaciones Bancarias</li>
                                    <li><a href="https://www.youtube.com/embed/vFth1tggNXU"></a> Como dar de Alta a Clientes y Proveedores</li>
                                    <li><a href="https://www.youtube.com/embed/sEU5SfMysI4"></a> Rechazo de cheque de terceros</li>
                                    <li><a href="https://www.youtube.com/embed/WHu64M40JtQ"></a> Rechazo de Cheque Propio</li>
                                    <li><a href="https://www.youtube.com/embed/-1-OMMY2Pns"></a> Condiciones de Venta</li>
                                    <li><a href="https://www.youtube.com/embed/aTKoJC3PgrA"></a> Retenciones a Proveedores</li>
                                    <li><a href="https://www.youtube.com/embed/PVjPHyN9M6c"></a> Alta de puntos de venta y sucursales</li>
                                    <li><a href="https://www.youtube.com/embed/26F7dMOWLPE"></a> Tipos de cobro- pagos</li>
                                    <li><a href="https://www.youtube.com/embed/QwPez6Sf1s8"></a> Importar contribuyentes de AFIP para control de CUIT</li>
                                    <li><a href="https://www.youtube.com/embed/lvwMRy9UpEQ"></a> Comparación mayor contable con gestión</li>
                                    <li><a href="https://www.youtube.com/embed/INp_D59Npyg"></a> Ajuste por Inflación</li>
                                    
                                </ul>
                            </div>
                        </div> 
                    </div>
                    
                    
                    

                </div>
               

               
            </div>
        </div>
    </div>
</section>