<section class="job-area pb-50 grey-bg " style="padding-top: 10%;">
    <div class="container">
        <div class="job-box white-bg">
           

            <div class="row" style="padding-top: 10%;">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                    <div class="job-responsibilities">
                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                <div class="requirements-thumb req-padding mb-50 mt-30">
                                    <img src="assets/multisoft/img/job/03.png" alt="">
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                <h4 class="mb-20">Compras</h4>
                                <ul>
                                    <li>Build positive and productive working relationships with stakeholders </li>
                                    <li>Manage 40-member delivery team to ensure timely and accurate customer</li>
                                    <li>Drive complex delivery projects from offshore center</li>
                                    <li>Analyze and troubleshoot delivery issues in a timely fashion</li>
                                    <li>ngage in pre-sales support, estimation of new projects and technical </li>
                                    <li>Oversee daily activities of delivery team and provide direction and guidance
                                    </li>
                                    <li>Perform resource allocations and workload assignments according delivery </li>
                                    <li>Ensure that team maintains high level of competence and operational </li>
                                    <li>Serve as primary contact for stakeholders’ inquiries and concerns</li>
                                    <li>Develop process improvements to achieve cost effectiveness and time </li>
                                    <li>Report delivery status to stakeholders and develop required delivery </li>
                                    <li>Manage team by recruiting, training and coaching, communicating job </li>
                                </ul>
                            </div>
                        </div>   
                        
                        <!-- <div class="job-videos pos-rel mb-50 mt-30">
                            <div class="job-videos-thumb">
                                <img class="img-fluid" src="assets/multisoft/img/job/02.png" alt="">
                            </div>
                            <a href="https://www.youtube.com/watch?v=j7wZogQhmFE" class="popup-video"><i
                                    class="fas fa-play"></i></a>
                        </div> -->
                    </div>
                    
                    
                    

                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                    <div class="job-responsibilities">
                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                <div class="requirements-thumb req-padding mb-50 mt-30">
                                    <img src="assets/multisoft/img/job/03.png" alt="">
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                <h4 class="mb-20">Compras</h4>
                                <ul>
                                    <li>Build positive and productive working relationships with stakeholders </li>
                                    <li>Manage 40-member delivery team to ensure timely and accurate customer</li>
                                    <li>Drive complex delivery projects from offshore center</li>
                                    <li>Analyze and troubleshoot delivery issues in a timely fashion</li>
                                    <li>ngage in pre-sales support, estimation of new projects and technical </li>
                                    <li>Oversee daily activities of delivery team and provide direction and guidance
                                    </li>
                                    <li>Perform resource allocations and workload assignments according delivery </li>
                                    <li>Ensure that team maintains high level of competence and operational </li>
                                    <li>Serve as primary contact for stakeholders’ inquiries and concerns</li>
                                    <li>Develop process improvements to achieve cost effectiveness and time </li>
                                    <li>Report delivery status to stakeholders and develop required delivery </li>
                                    <li>Manage team by recruiting, training and coaching, communicating job </li>
                                </ul>
                            </div>
                        </div>   
                        
                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                <div class="requirements-thumb req-padding mb-50 mt-30">
                                    <img src="assets/multisoft/img/job/03.png" alt="">
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                <h4 class="mb-20">Compras</h4>
                                <ul>
                                    <li>Build positive and productive working relationships with stakeholders </li>
                                    <li>Manage 40-member delivery team to ensure timely and accurate customer</li>
                                    <li>Drive complex delivery projects from offshore center</li>
                                    <li>Analyze and troubleshoot delivery issues in a timely fashion</li>
                                    <li>ngage in pre-sales support, estimation of new projects and technical </li>
                                    <li>Oversee daily activities of delivery team and provide direction and guidance
                                    </li>
                                    <li>Perform resource allocations and workload assignments according delivery </li>
                                    <li>Ensure that team maintains high level of competence and operational </li>
                                    <li>Serve as primary contact for stakeholders’ inquiries and concerns</li>
                                    <li>Develop process improvements to achieve cost effectiveness and time </li>
                                    <li>Report delivery status to stakeholders and develop required delivery </li>
                                    <li>Manage team by recruiting, training and coaching, communicating job </li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                    
                    
                    

                </div>

               
            </div>
        </div>
    </div>
</section>