
    <section class="services-area pt-130 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <div class="services-widget-wrapper contact-widget-shadow-default"  >
                        <div class="single-services-widget mb-45">
                            <h3 class="service-widget-title">Industrias </h3>
                            <div class="services-widget-content">
                                <div class="services-widget-link">
                                    <ul class="services-widget-list" *ngFor="let category of categories; let i = index">
                                        <li><a >{{category.name}}</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="single-services-widget mb-45">
                            <h3 class="service-widget-title">Get in Touch </h3>
                            <div class="services-widget-content">
                                <div class="services-widget-input">
                                    <form>
                                        <div class="services-input">
                                            <input class="contact__input" type="text" placeholder="Full Your Name">
                                        </div>
                                        <div class="services-input">
                                            <input class="contact__input" type="text" placeholder="Email Address">
                                        </div>
                                        <div class="services-input">
                                            <input class="contact__input" type="text" placeholder="Message">
                                        </div>
                                    </form>
                                    <div class="subs-btn service-btn">
                                        <a class="theme_btn theme_btn_bg" href="services-details.html#">Get in Touch <i
                                                class="fas fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="single-services-widget">
                            <h3 class="service-widget-title">Contact Info </h3>
                            <div class="services-widget-content">
                                <div class="services-widget-contact">
                                    <div class="services-contact-widget mb-15">

                                        <div class="services-widget-icon">
                                            <i class="fal fa-phone"></i>
                                        </div>
                                        <div class="services-contact-info-wrapper">
                                            <h5 class="services-contact-title">Phone Number</h5>
                                            <a class="services-contact-info" href="tel:+88012345688">+880 (123) 456
                                                88</a>

                                        </div>
                                    </div>
                                    <div class="services-contact-widget mb-15">

                                        <div class="services-widget-icon">
                                            <i class="fal fa-envelope-open"></i>
                                        </div>
                                        <div class="services-contact-info-wrapper">
                                            <h5 class="services-contact-title">Email Adress</h5>
                                            <a class="services-contact-info"
                                                href="mailto:support@gmail.com">support@gmail.com</a>
                                        </div>
                                    </div>
                                    <div class="services-contact-widget ">

                                        <div class="services-widget-icon">
                                            <i class="fal fa-map-marker-alt"></i>
                                        </div>
                                        <div class="services-contact-info-wrapper">
                                            <h5 class="services-contact-title">Address</h5>
                                            <a class="services-contact-info" href="services-details.html#">25 Main street, New york</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="services-details-main-content">
                        <div class="services-details-thumb mb-50">
                            <img src="assets/multi/img/services/service-details-thumb-1.jpg" alt="">
                        </div>
                        <div class="services-details-main-info">
                            <h3 class="services-details-content-title">We Unlock Potential</h3>
                            <p class="services-details-content-info">Elizabeth some dodgy chavs are you taking the
                                piss
                                faff about pardon amongst car boot a load of old tosh is cracking goal blow off
                                telling
                                brown. </p>
                            <p class="services-details-content-desc mb-20">Brolly show off show off pick your nose
                                and
                                blow
                                off well A bit of how’s your father tomfoolery blimey, me old mucker starkers
                                Queen’s
                                English dropped a clanger bite your arm spiffing good time burke Why chancer. Hotpot
                                bum
                                bag cracking goal young delinquent naff bugger cup of chars bender loo it’s all gone
                                to
                                pot the nancy cheeky. </p>
                            <p class="services-details-content-desc mb-20">At public school cras bog some dodgy chav
                                Richard
                                Why argy bargy vagabon William bender matie boy, off his nut chancer Jeffrey up the
                                kyver say mufty you mug ummm telling pear shaped Oxford owt to do with me do one so
                                said
                                are you taking his. </p>
                            <div class="services-details-project-wrapper mt-45 mb-80">
                                <div class="services-details-thumb2">
                                    <img src="assets/multi/img/services/service-details-thumb-2.jpg" alt="">
                                </div>
                                <div class="services-details-project-info">
                                    <h3 class="project-thumb-title">Project Management</h3>
                                    <p class="services-details-project-desc">Give us a bell David cup of tea pardon
                                        your round arse ruddy car is boot.</p>
                                    <div class="services-details-project-list-dot">
                                        <ul>
                                            <li>Tomfoolery cup of char give bell say us bobby pardon.</li>
                                            <li>Bog-standard smashing bits</li>
                                            <li>Loo wind up Harry bleeding squiffy me </li>
                                            <li>Faff about pukka hunky.</li>
                                            <li>Drive complex delivery projects.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-xl-6 col-lg-12 col-md-12 service-left-spc">
                                <div class="do_box text-center mb-30">
                                    <div class="do_box__icon mb-25">
                                        <i class="flaticon-chart"></i>
                                    </div>
                                    <h4>Track progress fast</h4>
                                    <p>Quis autem vel eum reprehen
                                        derit quiea uptate </p>
                                    <a href="contact.html"><i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class=" col-xl-6 col-lg-12 col-md-12">
                                <div class="do_box text-center mb-30">
                                    <div class="do_box__icon mb-25">
                                        <i class="flaticon-chat"></i>
                                    </div>
                                    <h4>Monitoring & analysis</h4>
                                    <p>Quis autem vel eum reprehen
                                        derit quiea uptate </p>
                                    <a href="contact.html"><i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class=" col-xl-6 col-lg-12 col-md-12">
                                <div class="do_box text-center mb-30">
                                    <div class="do_box__icon mb-25">
                                        <i class="flaticon-pie-chart"></i>
                                    </div>
                                    <h4>Manage customers</h4>
                                    <p>Quis autem vel eum reprehen
                                        derit quiea uptate </p>
                                    <a href="contact.html"><i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-12">
                                <div class="do_box text-center mb-30">
                                    <div class="do_box__icon mb-25">
                                        <i class="flaticon-layers-1"></i>
                                    </div>
                                    <h4>Organize campaigns</h4>
                                    <p>Quis autem vel eum reprehen
                                        derit quiea uptate </p>
                                    <a href="contact.html"><i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  