
<section class="services-area pt-130 pb-100">
    <div class="container">
        <div class="row">
           
            <div class="col-xl-8 col-lg-7">
                <div class="services-details-main-content">
                    <div class="services-details-thumb mb-50">
                        <img src="assets/multi/img/services/service-details-thumb-1.jpg" alt="">
                    </div>
                    <div class="services-details-main-info">
                        <h3 class="services-details-content-title">We Unlock Potential</h3>
                        <p class="services-details-content-info">Elizabeth some dodgy chavs are you taking the
                            piss
                            faff about pardon amongst car boot a load of old tosh is cracking goal blow off
                            telling
                            brown. </p>
                        <p class="services-details-content-desc mb-20">Brolly show off show off pick your nose
                            and
                            blow
                            off well A bit of how’s your father tomfoolery blimey, me old mucker starkers
                            Queen’s
                            English dropped a clanger bite your arm spiffing good time burke Why chancer. Hotpot
                            bum
                            bag cracking goal young delinquent naff bugger cup of chars bender loo it’s all gone
                            to
                            pot the nancy cheeky. </p>
                        <p class="services-details-content-desc mb-20">At public school cras bog some dodgy chav
                            Richard
                            Why argy bargy vagabon William bender matie boy, off his nut chancer Jeffrey up the
                            kyver say mufty you mug ummm telling pear shaped Oxford owt to do with me do one so
                            said
                            are you taking his. </p>
                        
                    </div>
                  
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="services-widget-wrapper contact-widget-shadow-default"  >
                    <div class="single-services-widget mb-45">
                        <h3 class="service-widget-title">Industrias </h3>
                        <div class="services-widget-content">
                            <div class="services-widget-link">
                                <ul class="services-widget-list" *ngFor="let category of categories; let i = index">
                                    <li><a >{{category.name}}</a></li>
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="services-details-project-wrapper mt-45 mb-80">
                           
                        <div class="services-details-project-info">
                            <h3 class="project-thumb-title">Modulos</h3>
                            
                            <div class="services-details-project-list-dot">
                                <ul>
                                    <li>Tomfoolery cup of char give bell say us bobby pardon.</li>
                                    <li>Bog-standard smashing bits</li>
                                    <li>Loo wind up Harry bleeding squiffy me </li>
                                    <li>Faff about pukka hunky.</li>
                                    <li>Drive complex delivery projects.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class=" col-xl-3 col-lg-12 col-md-12 service-left-spc">
                        <div class="do_box text-center mb-30">
                            <div class="do_box__icon mb-25">
                                <i class="flaticon-chart"></i>
                            </div>
                            <h4>Track progress fast</h4>
                            <p>Quis autem vel eum reprehen
                                derit quiea uptate </p>
                           
                        </div>
                    </div>
                    <div class=" col-xl-3 col-lg-12 col-md-12">
                        <div class="do_box text-center mb-30">
                            <div class="do_box__icon mb-25">
                                <i class="flaticon-chat"></i>
                            </div>
                            <h4>Monitoring & analysis</h4>
                            <p>Quis autem vel eum reprehen
                                derit quiea uptate </p>
                           
                        </div>
                    </div>
                    <div class=" col-xl-3 col-lg-12 col-md-12">
                        <div class="do_box text-center mb-30">
                            <div class="do_box__icon mb-25">
                                <i class="flaticon-pie-chart"></i>
                            </div>
                            <h4>Manage customers</h4>
                            <p>Quis autem vel eum reprehen
                                derit quiea uptate </p>
                           
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-12">
                        <div class="do_box text-center mb-30">
                            <div class="do_box__icon mb-25">
                                <i class="flaticon-layers-1"></i>
                            </div>
                            <h4>Organize campaigns</h4>
                            <p>Quis autem vel eum reprehen
                                derit quiea uptate </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team-area pt-125 pb-95 ">
    <div class="container">
        <div class="row">
           
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6  wow fadeInUp" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp" *ngFor="let client of yeoman.allclient;let i = index">
                <div class=" single-team mb-30">
                    <div class="team-thumb">
                        <a > <img src="{{client.images[0]}}" alt="clientes de Multisoft®" *ngIf="client.images[0]!==undefined"  class="fixed-size-image"></a>
                    </div>
                   
                </div>
            </div>
           
        </div>
    </div>
</section>
   
